* {
	margin: 0;
	padding: 0;
}


#nav {
	width: 100%;
	margin: 0 auto;
	list-style: none;
	text-align: right;
	float: right;
}

#nav li {
	display: inline-block;
}

#nav a {
	display: block;
	text-align: right;
	width: auto;
	text-decoration: none;
	font-size: 1.5em;
	color: #ffdab9;
	font-family: 'Fjalla One', sans-serif;
	font-weight: 400px;
	padding:10px 10px 0px 0px;
	text-shadow: 3px 3px 15px #282e49;
}

#nav li a:hover {
	color: #333;
}

#name {
	font-family: 'Lobster', cursive;
	text-align: center;
	font-size: 100px;
	position: absolute;
	color: #282e49;
	top: 250px;
	width: 100%;
	text-shadow: 1px 0px 1px #ff7f59, 0px 1px 1px #ffdab9, 2px 1px 1px #ffdab9, 1px 2px 1px #ffdab9, 3px 2px 1px #ffdab9, 2px 3px 1px #ffdab9, 4px 3px 1px #ffdab9, 3px 4px 1px #ffdab9, 5px 4px 1px #ffdab9, 4px 5px 1px #ffdab9, 6px 5px 1px #ffdab9, 5px 6px 1px #ffdab9, 7px 6px 1px #ff7f59;
}

.sectionHeading {
	text-align: center;
	font-size: 40px;
	font-weight: 400px;
	letter-spacing:3px;
	padding-top: 20px;
	margin:10px 0px 60px 0px;
	position: relative;
	width: 100%;
	color: #282e49;
	font-family: 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
	
}

.image-thumbnail {
	width:200px;
	height:200px;
	margin:20px auto;
	padding:20px;
}

#myDescript {
	font-size: 1.5em;
	padding: 0px 10px 24px;
	font-family: 'Arimo', sans-serif;
	font-weight:500;
	word-spacing: 0.3em;
	letter-spacing: 2px;
	color:#282e49;
}

#contact-me-button a {
	text-align:center;
	background:transparent !important;
	color:#ff7f59 !important;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight:bold;
	margin:0px 0px 20px 10px;
	font-size:20px;
}

.meDescriptHead {
	font-weight: bold;
	font-size: 2em;
	margin:50px 25px 30px;
	color:#282e49;
	font-family: 'Roboto Condensed', sans-serif;
}

.profilePic {	
	border: solid #282e49 5px;
	width:350px;
	height:350px;	
}

#title{
	text-align: center;
	font-size: 45px;
	font-weight:bold;
	position: absolute;
	top: 400px;
	width: 100%;
	padding:75px ;
	color: #282e49;
	font-family: 'Fjalla One', sans-serif;
	text-shadow: 0 0 2px #ffdab9;

}

.parallax {
	min-height:800px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

#image1 {
	background-image: url("https://res.cloudinary.com/angiemjohnson/image/upload/c_scale,w_1836/v1472925759/photo-1420768255295-e871cbf6eb81_s6eww1.png");
    
}

#about {
	background-color:#FFFAFA;
}

#portfolio {
	background-color:#FAEBD7;

}

.center{
margin:0 auto;
width:90%;
}

.img-responsive{
  width:100%;
	height:auto;
  margin:20px auto;
}

.hovereffect {
  width:auto;
  height:100%;
  float: left;
  overflow:hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  position: absolute;
  overflow:hidden;
  width: 90%;
  height:70%;
  left: 5%;
	right:0%;
  top: 20%;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  background-color: transparent;
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}

.hovereffect a, hovereffect p {
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

.hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.imageText{
	color:#fff;
	text-transform: uppercase;
}

#contact {
	background-color: #FFCCBC;
}

.content{
	overflow:hidden;
	min-height:800px;
}


label {
  display:block;
  margin-top:20px;
  letter-spacing:2px;
	margin-left:20px;
	text-transform: Uppercase;
}

input, textarea {
	width:350px;
	height:50px;
	background:#efefef;
	padding:10px;
	font-size:0.9em;
	color:#282e49;
	text-transform: Uppercase;
}

form {
  width:100%;
  height:460px;
	padding:10px;
	border: 10px solid #282e49;
}

.form-control{
border: solid 1px#282e49;
}


#submit{
	width:100%;
	background: #282e49;
	color: #fff;
	font-weight: bold;
	font-size: 1em;
	text-transform: Uppercase;
	margin-top:30px;
	border: 3px solid white;
}

.social ul {
  margin-left:40px;
  padding:5px;
}
.social ul li {
  margin: 10px;
  list-style: none outside none;
  display: inline-block;
}
.social i {
  width: 40px;
  height: 40px;
  color: #FFF;
  background-color: #909AA0;
  font-size: 22px;
  text-align: center;
  padding-top: 12px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
}
.social i:hover {
  color: #FFF;
  text-decoration: none;
  transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
}
.social .fa-facebook:hover {
  /* round facebook icon*/
  
  background: #4060A5;
}
.social .fa-twitter:hover {
  /* round twitter icon*/
  
  background: #00ABE3;
}
.social .fa-linkedin:hover {
  /* round linkedin icon*/
  
  background: #0094BC;
}
.social .fa-github:hover {
  /* round github icon*/
  
  background: #343434;
}
.social .fa-fire:hover {
  /* round github icon*/
  
  background: #008000;
}

#contact-text{
  font-size: 1.5em;
	padding:15px;
	font-family: 'Arimo', sans-serif;
	font-weight:500;
	word-spacing: 0.1em;
	letter-spacing: 2px;
	color:#282e49;
}

footer{
  text-align:center;
	background:#282e49;
	color:#fff
}
